<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    #RewriteCond %{HTTPS} !=on
    #RewriteRule ^(.*)$ https://%{HTTP_HOST}!webroot/%{REQUEST_URI} [L,R=301,NE] 
    RewriteRule ^ index.php [L]

	
	#RewriteCond %{SERVER_PORT} 80
	#RewriteRule ^$ webroot/ [L]
	#RewriteRule (.*) webroot/$1 [L]
	#RewriteRule ^(.*)$ https://vsbtechnology.cl/$1 [R=301,L]

</IfModule>
